@section scripts{
    <script src="@Url.Content("~/Scripts/SPA/Index.js")"></script>}
@{
    ViewBag.Title = "Index";
}

<h2>Hello Am SPA</h2>
<button id="Animals">Animals</button>
<button id="AnimalsJson">AnimalsJSON</button>
<button id="Houses">Houses</button>

<div class="list-container">


</div>
<div class="list-container1">


</div>

